<template>
    <form action>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Editace poznamky</p>
            </header>
            <section class="modal-card-body">
                <textarea
                    class="textarea"
                    placeholder="Napiste poznamku"
                    v-model="poznamka.poznamka"
                    rows="10"
                ></textarea>
            </section>
            <footer class="modal-card-foot">
                <div class="buttons is-right">
                    <button @click="$parent.close()" class="button" type="button">Zrusit</button>
                    <button @click="$parent.close()" class="button is-success">Potvrdit</button>
                </div>
            </footer>
        </div>
    </form>
</template>


<script>
export default {
    props: ["poznamka"]
};
</script>


<style lang="scss" scoped>
.modal-card {
    width: auto;
    height: auto;
    margin: 0.4rem;

    textarea {
        width: 70vw;
    }
}
</style>
