<template>
    <div>
        <div class="box has-text-left" v-for="(novina, index) in json" :key="'novina' + index">
            <div class="level">
                <div class="level-left">
                    <h1 class="title is-5">{{ novina.header }}</h1>
                </div>
                <div class="level-right">
                    <div class="has-text-right">{{ novina.date }}</div>
                </div>
            </div>
            <p>{{ novina.message }}</p>
        </div>
    </div>
</template>


<script>
import messages from "@/assets/data/news.json";

export default {
    data() {
        return {
            json: messages
        };
    }
};
</script>
