<template>
    <div>
        <b-modal :active.sync="isComponentModalActive" has-modal-card>
            <modal :poznamka="editovanaPoznamka"></modal>
        </b-modal>

        <div class="card" v-for="poznamka in json" :key="poznamka._id">
            <div class="level">
                <div class="level-left">{{ poznamka.index + 1 }}.</div>
                <div class="level-right">{{ poznamka.datum }}</div>
            </div>

            <p class="has-text-left">{{ poznamka.poznamka }}</p>

            <b-collapse :open="false" :aria-id="poznamka._id" class="has-text-right">
                <button
                    class="button is-light is-small"
                    slot="trigger"
                    :aria-controls="poznamka._id"
                >
                    <i class="fas fa-cog"></i>
                </button>
                <div class="buttons is-right">
                    <div class="field has-addons is-right">
                        <p class="control">
                            <button class="button is-info" @click="edit(poznamka)">
                                Edit&nbsp;&nbsp;
                                <i class="fas fa-edit"></i>
                            </button>
                        </p>
                        <p class="control">
                            <button class="button is-danger" @click="del(poznamka.index + 1)">
                                Delete&nbsp;&nbsp;
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </p>
                    </div>
                </div>
            </b-collapse>
        </div>
    </div>
</template>


<script>
import notes from "@/assets/data/notes.json";
import swal from "sweetalert";
import modal from "./modalEditacePoznamky.vue";

export default {
    data() {
        return {
            json: notes,
            isComponentModalActive: false,
            editovanaPoznamka: null
        };
    },
    components: {
        modal
    },
    methods: {
        del(number) {
            swal({
                title: "Smazat",
                text: `Opravdu si prejete smazat poznamku cislo ${number}?`,
                icon: "warning",
                buttons: ["Zrusit", "Potvrdit"]
            });
        },
        edit(poznamka) {
            this.editovanaPoznamka = poznamka;
            this.isComponentModalActive = true;
        }
    }
};
</script>


<style lang="scss" scoped>
.card {
    margin: 0.5rem;
    padding: 1rem;
}

.buttons {
    margin-top: 0.5rem;
}
</style>

