<template>
    <div>
        <div class="box has-text-left" v-for="(zprava, index) in json" :key="'zprava' + index">
            <div class="level">
                <div class="level-left">
                    <h1 class="title is-5">{{ zprava.header }}</h1>
                </div>
                <div class="level-right">
                    <div class="has-text-right">{{ zprava.date }}</div>
                </div>
            </div>
            <p>{{ zprava.message }}</p>
        </div>
    </div>
</template>


<script>
import messages from "@/assets/data/messages.json";

export default {
    data() {
        return {
            json: messages
        };
    }
};
</script>
