<template>
    <section class="section">
        <b-collapse :open="false" aria-id="contentIdForA11y1" class="has-text-right">
            <button
                class="button is-primary is-small panelButton"
                slot="trigger"
                aria-controls="contentIdForA11y1"
                title="Ukaž ovládací panel"
            >
                <i class="fas fa-cog"></i>
            </button>
            <div class="notification">
                <b-field grouped group-multiline>
                    <b-select v-model="perPage">
                        <option value="5">5 per page</option>
                        <option value="10">10 per page</option>
                        <option value="25">25 per page</option>
                        <option value="50">50 per page</option>
                    </b-select>
                    <div
                        v-for="(column, index) in columnsVisible"
                        :key="index"
                        class="field switches"
                    >
                        <b-switch size="is-small" v-model="column.display">{{ column.title }}</b-switch>
                    </div>
                </b-field>
            </div>
        </b-collapse>

        <b-table
            :data="json"
            ref="table"
            paginated
            hoverable
            :per-page="perPage"
            detailed
            detail-key="poznamka"
            aria-next-label="dalsi"
            aria-previous-label="predchozi"
            aria-page-label="Strana"
            aria-current-label="Aktualni strana"
        >
            <template slot-scope="props">
                <b-table-column
                    :visible="columnsVisible['cislo_dokumentu'].display"
                    field="cislo_dokumentu"
                    label="Číslo"
                    numeric
                    sortable
                >{{ props.row.cislo_dokumentu }}</b-table-column>

                <b-table-column
                    :visible="columnsVisible['datum'].display"
                    field="datum"
                    label="Datum"
                >
                    <span class="tag is-info">{{ props.row.datum }}</span>
                </b-table-column>

                <b-table-column
                    :visible="columnsVisible['typ'].display"
                    field="typ"
                    label="Typ dokumentu"
                    sortable
                >{{ props.row.typ }}</b-table-column>

                <b-table-column
                    :visible="columnsVisible['NC_DPH'].display"
                    field="NC_DPH"
                    label="NC bez DPH"
                >{{ props.row.NC_DPH }}</b-table-column>

                <b-table-column
                    :visible="columnsVisible['sklad_prijem'].display"
                    field="sklad_prijem"
                    label="Sklad příjem"
                >
                    <span class="tag is-info">{{ props.row.sklad_prijem }}</span>
                </b-table-column>

                <b-table-column
                    :visible="columnsVisible['zadal'].display"
                    field="zadal"
                    label="Zadal"
                    sortable
                >{{ props.row.zadal }}</b-table-column>

                <b-table-column
                    :visible="columnsVisible['potvrzeno'].display"
                    field="potvrzeno"
                    label="Potvrzeno (p)"
                    sortable
                >
                    <b-switch
                        type="is-success"
                        v-model="props.row.potvrzeno"
                    >{{ props.row.potvrzeno }}</b-switch>
                </b-table-column>

                <b-table-column
                    :visible="columnsVisible['sklad_vydej'].display"
                    field="sklad_vydej"
                    label="Sklad výdej"
                >
                    <span class="tag is-info">{{ props.row.sklad_vydej }}</span>
                </b-table-column>

                <b-table-column
                    :visible="columnsVisible['vydal'].display"
                    field="vydal"
                    label="Vydal"
                    sortable
                >{{ props.row.vydal }}</b-table-column>

                <b-table-column
                    :visible="columnsVisible['potvrzeno2'].display"
                    field="potvrzeno2"
                    label="Potvrzeno (v)"
                    sortable
                >
                    <b-switch
                        type="is-success"
                        v-model="props.row.potvrzeno2"
                    >{{ props.row.potvrzeno2 }}</b-switch>
                </b-table-column>

                <!-- <b-table-column field="poznamka" label="Poznamka">{{ props.row.poznamka }}</b-table-column> -->
            </template>

            <template slot="detail" slot-scope="props">
                <article class="media">
                    <figure class="media-left">
                        <p class="image is-64x64">
                            <img src="http://placehold.it/125">
                        </p>
                    </figure>
                    <div class="media-content">
                        <div class="content">
                            <div class="editButton">
                                <button class="button is-primary">
                                    <i class="fas fa-cog"></i>
                                </button>
                            </div>
                            <p>
                                <strong>Zadal: {{ props.row.zadal }}</strong>
                            </p>
                            <p>
                                <strong>Vydal: {{ props.row.vydal }}</strong>
                            </p>
                            <p>
                                <small>Cislo: {{ props.row.cislo_dokumentu }}</small>
                            </p>
                            <p>
                                <small>Datum: {{ props.row.datum }}</small>
                            </p>
                            <h3 class="subtitle is-6">Pozn.:</h3>
                            <p>{{props.row.poznamka}}</p>
                        </div>
                    </div>
                </article>
            </template>
        </b-table>
    </section>
</template>


<script>
import messages from "@/assets/data/documents.json";

export default {
    data() {
        return {
            json: messages,
            perPage: 10,
            columnsVisible: {
                cislo_dokumentu: { title: "cislo_dokumentu", display: true },
                datum: { title: "datum", display: true },
                typ: { title: "typ", display: true },
                NC_DPH: { title: "NC_DPH", display: false },
                sklad_prijem: { title: "sklad_prijem", display: false },
                zadal: { title: "zadal", display: true },
                potvrzeno: { title: "potvrzeno", display: true },
                sklad_vydej: { title: "sklad_vydej", display: true },
                vydal: { title: "vydal", display: false },
                potvrzeno2: { title: "potvrzeno2", display: false }
            }
        };
    }
};
</script>


<style lang="scss" scoped>
.switches {
    position: relative;
    top: 0.5rem;
}

.editButton {
    position: absolute;
    right: 2rem;
}

.panelButton {
    margin: 0 0 1rem 0;
}
</style>
