<template>
    <section class="section">
        <!-- <div class="container is-fluid"> -->
        <div class="columns">
            <div class="column">
                <section class="notification">
                    <div class="columns">
                        <div class="column">
                            <b-field label="Společnost">
                                <b-input v-model="selected.companyName"></b-input>
                            </b-field>
                        </div>

                        <div class="column">
                            <b-field label="Město">
                                <b-input v-model="selected.city"></b-input>
                            </b-field>
                        </div>

                        <div class="column">
                            <b-field label="Adresa">
                                <b-input v-model="selected.address"></b-input>
                            </b-field>
                        </div>

                        <div class="column">
                            <b-field label="IČO">
                                <b-input v-model="selected.ico"></b-input>
                            </b-field>
                        </div>

                        <div class="column">
                            <b-field label="DIČ">
                                <b-input v-model="selected.dic"></b-input>
                            </b-field>
                        </div>

                        <div class="column">
                            <b-field label="Spolupráce">
                                <b-switch class="top5" v-model="selected.cooperation"></b-switch>
                            </b-field>
                        </div>

                        <div class="column">
                            <b-field label="Stav">
                                <b-select placeholder="Vyberte stav" v-model="selected.state">
                                    <option value="new">new</option>
                                    <option value="on-hold">on-hold</option>
                                    <option value="in-progress">in-progress</option>
                                </b-select>
                            </b-field>
                        </div>
                    </div>
                </section>

                <b-table :data="json" :selected.sync="selected" focusable>
                    <template slot-scope="props">
                        <b-table-column field="avatar" label="Ikona">
                            <img width="22" height="22" :src="props.row.avatar" alt="avatar">
                        </b-table-column>

                        <b-table-column
                            field="companyName"
                            label="Společnost"
                            sortable
                        >{{props.row.companyName}}</b-table-column>

                        <b-table-column field="city" label="Město" sortable>{{props.row.city}}</b-table-column>

                        <b-table-column field="address" label="Adresa">{{props.row.address}}</b-table-column>

                        <b-table-column field="IČO" label="IČO">{{props.row.ico}}</b-table-column>

                        <b-table-column field="DIČ" label="DIČ">{{props.row.dic}}</b-table-column>

                        <b-table-column field="cooperation" label="Spolupráce" sortable>
                            <b-switch type="is-success" v-model="props.row.cooperation"></b-switch>
                            {{props.row.cooperation ? "Ano" : "Ne"}}
                        </b-table-column>

                        <b-table-column field="state" label="Stav" sortable>
                            <span
                                class="tag is-success"
                                v-if="props.row.state === 'new'"
                            >{{props.row.state}}</span>
                            <span
                                class="tag is-info"
                                v-if="props.row.state === 'in-progress'"
                            >{{props.row.state}}</span>
                            <span
                                class="tag is-black"
                                v-if="props.row.state === 'on-hold'"
                            >{{props.row.state}}</span>
                        </b-table-column>
                    </template>
                </b-table>
            </div>
        </div>
        <!-- </div> -->
    </section>
</template>


<script>
import companies from "@/assets/data/companies.json";

export default {
    data() {
        return {
            json: companies,
            per: 10,
            selected: companies[0]
        };
    }
};
</script>


<style lang="scss" scoped>
.floating {
    position: fixed;
    top: 0;
}

.top5 {
    top: 0.3rem;
    position: relative;
}
</style>
