<template>
    <div id="home">
        <div id="map"></div>

        <section class="section" id="contact">
            <div class="container">
                <div class="columns contact-margin">
                    <div class="column">
                        <h1 class="title is-3 is-primary">Kontakt</h1>
                        <h2
                            class="subtitle is-size-6 has-text-grey"
                        >Veškeré poskytnuté osobní údaje jsou zpracovávány v souladu s Nařízením Evropského Parlamentu a Rady (EU) 679/2016 o Ochraně fyzických osob v souvislosti se zpracováním osobních údajů a o volném pohybu těchto údajů, dle zákona č. 101/2000 Sb., o ochraně osobních údajů a o změně některých zákonů.</h2>
                    </div>
                </div>

                <div class="columns">
                    <div class="column has-text-left">
                        <h1
                            class="title is-5 has-text-centered has-text-darkred is-primary"
                        >Kontaktní informace</h1>

                        <div class="card">
                            <h2 class="subtitle is-5">TECHart systems s.r.o. Praha</h2>
                            <p>
                                <strong>Adresa:</strong>
                                Dobrovolského 492, 149 00, Praha 4
                                <br>
                                <strong>tel:</strong>: +420 251 511 824
                                <br>
                                <strong>Fax:</strong>: +420 251 511 825
                            </p>
                        </div>

                        <div class="card">
                            <h2 class="subtitle is-5">TECHart systems s.r.o. Kouřim</h2>
                            <h3 class="subtitle is-6">
                                <strong>Kamenná prodejna elektro.</strong>
                            </h3>
                            <p>
                                <strong>Adresa:</strong>
                                Komenského 128, 281 61, Kouřim
                                <br>
                                <strong>tel:</strong>: +420 322 312 831
                            </p>
                        </div>

                        <div class="card">
                            <h2 class="subtitle is-5">Bankovní spojení</h2>
                            <p>288773001/5500 (RB a.s.)</p>
                            <p>436615399/0800 (ČS a.s.)</p>
                        </div>
                    </div>

                    <div class="column">
                        <h1 class="title is-5 has-text-darkred">Fakturační údaje</h1>

                        <div class="card">
                            <h2 class="subtitle is-5">Machatého 679, 152 00, Praha 5</h2>
                            <h2 class="subtitle is-5"></h2>
                            <p class="subtitle is-5">
                                <strong>IČ:</strong>26172615
                            </p>
                            <p class="subtitle is-5">
                                <strong>DIČ:</strong>CZ26172615
                            </p>
                            <p class="subtitle is-5">Zapsána u MS v Praze oddíl C, vložka 76785</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
section {
    &.hero {
        &#red-stripe {
            margin: 4rem 0;
            letter-spacing: 2px;

            h1,
            h2 {
                line-height: 3rem;
            }
        }

        &.is-danger {
            background: linear-gradient(
                141deg,
                #ea1f10 0,
                #c7180f 71%,
                #f54427 100%
            );
        }
    }

    .has-text-darkred {
        color: #e42d26;
    }

    &#contact {
        background-image: url("../assets/world.png");
        background-repeat: no-repeat;
        background-position: center;

        .card {
            background-color: rgba(247, 247, 247, 0.315);
            padding: 18px;
            margin: 15px;
            transition: all 0.3s;

            p,
            h2,
            strong {
                color: #555;
            }

            &:hover {
                transform: translateY(-4px) scale(1.03);
            }
        }

        .contact-margin {
            margin-bottom: 5rem;
        }
    }
}
#map {
    min-height: 50vh;
    width: 100%;
    background-image: url("../assets/map.png");
    background-position: center;
    background-size: cover;
}
#home {
}
</style>
