<template>
    <section class="section">
        <b-tabs type="is-boxed" v-model="activeTab">
            <b-tab-item label="Kontakty">
                <b-table :data="json" :checked-rows.sync="checkedRows" checkable>
                    <template slot="top-left">
                        <b>Total checked</b>
                        : {{ checkedRows.length }}
                    </template>
                    <template slot-scope="props">
                        <b-table-column field="last_name" label="Příjmení" sortable>
                            <strong>{{props.row.last_name}}</strong>
                        </b-table-column>
                        <b-table-column field="city" label="Jméno">{{props.row.first_name}}</b-table-column>

                        <b-table-column field="email" label="Email">
                            <strong>{{props.row.email}}</strong>
                        </b-table-column>
                        <b-table-column
                            field="company"
                            label="Společnost"
                            :title="props.row.job"
                        >{{props.row.company}}</b-table-column>
                        <!-- <b-table-column
                                field="department"
                                label="department"
                        >{{props.row.department}}</b-table-column>
                        <b-table-column field="job" label="Práce">{{props.row.job}}</b-table-column>-->
                        <b-table-column field="active" label="Aktivní" sortable>{{props.row.active}}</b-table-column>
                        <b-table-column field="created" label="Datum">{{props.row.created}}</b-table-column>
                        <b-table-column field="state" label="Stav">{{props.row.state}}</b-table-column>
                        <b-table-column field centered label="Edit">
                            <button
                                class="button is-light is-right edit-button"
                                title="edit user"
                                @click="editujUzivatele(props.row)"
                            >
                                <i class="fas fa-user-edit"></i>
                            </button>
                        </b-table-column>
                    </template>

                    <template slot="bottom-left">
                        <b>Total checked</b>
                        : {{ checkedRows.length }}
                    </template>
                </b-table>
            </b-tab-item>

            <b-tab-item label="Vybrané">
                <div v-if="checkedRows.length > 0">
                    <div
                        class="card has-text-left"
                        v-for="kontakt in checkedRows"
                        :key="kontakt.id"
                    >
                        <p>
                            {{kontakt.first_name}} {{kontakt.last_name}} ({{kontakt.email}})
                            <button
                                class="button is-light is-right edit-button"
                                title="edit user"
                                @click="editujUzivatele(kontakt)"
                            >
                                <i class="fas fa-user-edit"></i>
                            </button>
                        </p>
                        <p>company: {{kontakt.company}}</p>
                    </div>
                </div>

                <div class="card has-text-left" v-else>
                    <b-notification
                        type="is-warning"
                        has-icon
                        aria-close-label="Close notification"
                        role="alert"
                    >Nejsou vybrane zadne kontakty.</b-notification>
                </div>
            </b-tab-item>

            <b-tab-item label="Edit" disabled>
                <section class="box has-text-left">
                    <h2 class="subtitle is-4 has-text-centered">Editace uživatele</h2>
                    <!-- {{ editovanyUzivatel}} -->
                    <div class="columns">
                        <div class="column is-6">
                            <b-field label="Jméno">
                                <b-input placeholder="Jméno" v-model="editovanyUzivatel.first_name"></b-input>
                            </b-field>
                        </div>
                        <div class="column is-6">
                            <b-field label="Příjmení">
                                <b-input
                                    placeholder="Příjmení"
                                    v-model="editovanyUzivatel.last_name"
                                ></b-input>
                            </b-field>
                        </div>
                    </div>

                    <div class="columns">
                        <div class="column">
                            <div class="field">
                                <b-switch
                                    v-model="isSwitchedCustom"
                                    true-value="Aktivní"
                                    false-value="Nektivní"
                                >{{ isSwitchedCustom }}</b-switch>
                            </div>
                        </div>
                    </div>

                    <div class="columns">
                        <div class="column">
                            <b-field label="Stav">
                                <b-select placeholder="Stav" v-model="editovanyUzivatel.state">
                                    <option value="NEW">NEW</option>
                                    <option value="CONTACTED">CONTACTED</option>
                                    <option value="INTERESTED">INTERESTED</option>
                                    <option value="NOT_INTERESTED">NOT_INTERESTED</option>
                                </b-select>
                            </b-field>
                        </div>
                    </div>

                    <div class="columns">
                        <div class="column">
                            <b-field label="Email">
                                <b-input placeholder="Email" v-model="editovanyUzivatel.email"></b-input>
                            </b-field>
                        </div>
                        <div class="column">
                            <b-field label="Společnost">
                                <b-input
                                    placeholder="Společnost"
                                    v-model="editovanyUzivatel.company"
                                ></b-input>
                            </b-field>
                        </div>
                        <div class="column">
                            <b-field label="Zaměstanání">
                                <b-input placeholder="Zaměstanání" v-model="editovanyUzivatel.job"></b-input>
                            </b-field>
                        </div>
                    </div>

                    <div class="columns">
                        <div class="column">
                            <b-field label="Poznámka">
                                <b-input
                                    maxlength="400"
                                    rows="10"
                                    type="textarea"
                                    v-model="editovanyUzivatel.notes[0].content"
                                ></b-input>
                            </b-field>
                        </div>
                    </div>

                    <div class="columns is-centered">
                        <div class="column is-4">
                            <button
                                class="button is-success is-fullwidth"
                                @click="activeTab = 0"
                            >Hotovo</button>
                        </div>
                    </div>
                </section>
            </b-tab-item>
        </b-tabs>
    </section>
</template>


<script>
import contacts from "@/assets/data/contacts.json";

export default {
    data() {
        return {
            json: contacts,
            per: 10,
            checkedRows: [contacts[0]],
            editace: true,
            activeTab: 0,
            editovanyUzivatel: contacts[0],
            isSwitchedCustom: "Aktivní"
        };
    },
    methods: {
        editujUzivatele(uzivatel) {
            this.editovanyUzivatel = uzivatel;
            this.editace = false;
            this.activeTab = 2;
        }
    }
};
</script>



<style lang="scss" scoped>
.card {
    margin: 0.5rem;
    padding: 0.6rem;
}

.edit-button {
    display: inline-block;
    float: right;
}
</style>
