<template>
    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-4-desktop is-6-tablet">
                    <h1 class="title is-3 is-primary">Login</h1>
                    <h2 class="subtitle is-5 is-primary">Pro pokračování do CMS se prosím přihlašte:</h2>
                    <div class="box is-grey">
                        <b-field label="Jméno">
                            <b-input
                                id="username"
                                placeholder="Jméno"
                                type="search"
                                icon="user-tie"
                            ></b-input>
                        </b-field>
                        <b-field label="Heslo">
                            <b-input
                                id="password"
                                placeholder="Helo"
                                type="password"
                                icon="key"
                                password-reveal
                            ></b-input>
                        </b-field>
                        <div class="field">
                            <b-switch id="remember" :value="true" type="is-success">pamatuj si mě</b-switch>
                        </div>
                        <b-field>
                            <button
                                class="button is-primary is-fullwidth"
                                @click="login()"
                            >Přihlásit</button>
                        </b-field>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    methods: {
        login() {
            this.$store.dispatch(
                "user/loginUser",
                !this.$store.state.user.isLogged
            );
            if (this.$store.state.user.isLogged) {
                this.$router.push("/prehled");
            }
        }
    }
};
</script>

<style lang="scss" scoped>
.section {
    background: #f1f1f1;

    .container {
        margin-top: 4rem;

        .is-grey {
            background-color: white;
        }

        #remember {
            margin: 1.5rem 0;
        }
    }
}
</style>
