<template>
    <section class="section">
        <div class="container">
            <b-tabs type="is-boxed">
                <b-tab-item label="Profil">Profil</b-tab-item>

                <b-tab-item label="Účet">
                    <div class="box">
                        <Ucet></Ucet>
                    </div>
                </b-tab-item>

                <b-tab-item label="Emaily">Emaily</b-tab-item>

                <b-tab-item label="Notifikace">Notifikace</b-tab-item>
            </b-tabs>
        </div>
    </section>
</template>


<script>
import Ucet from "./Ucet.vue";

export default {
    components: {
        Ucet
    }
};
</script>


<style>
.tab-content {
    border: 1px solid rgb(235, 235, 235);
    border-top: none;
    background: rgb(240, 240, 240);
}
</style>
