<template>
    <section class="section">
        <b-tabs type="is-boxed">
            <b-tab-item label="Doklady">
                <doklady></doklady>
            </b-tab-item>

            <b-tab-item label="Zprávy">
                <zpravy></zpravy>
            </b-tab-item>

            <b-tab-item label="Novinky">
                <novinky></novinky>
            </b-tab-item>

            <b-tab-item label="Poznámky">
                <poznamky></poznamky>
            </b-tab-item>
        </b-tabs>
    </section>
</template>


<script>
import Zpravy from "@/components/prehled/Zpravy.vue";
import Novinky from "@/components/prehled/Novinky.vue";
import Doklady from "@/components/prehled/Doklady.vue";
import Poznamky from "@/components/prehled/Poznamky.vue";

export default {
    components: {
        Zpravy,
        Novinky,
        Doklady,
        Poznamky
    }
};
</script>


<style lang="scss">
.tab-content {
    border: 1px solid rgb(235, 235, 235);
    border-top: none;
    background: rgb(240, 240, 240);
}
</style>
