<template>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <article class="media">
                        <figure class="media-left">
                            <p class="image is-96x96">
                                <img
                                    src="https://pbs.twimg.com/profile_images/2858406645/9cc5215de5e51c7eadff35187edc5892.jpeg"
                                >
                            </p>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong>Dave</strong>
                                    <small>@RD</small>
                                    <small>.org</small>
                                    <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros,
                                    <br>eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio
                                    <br>quis feugiat facilisis.
                                </p>
                            </div>
                            <nav class="level is-mobile">
                                <div class="level-left">
                                    <a class="level-item">
                                        <span class="icon is-small">
                                            <i class="fas fa-reply"></i>
                                        </span>
                                    </a>
                                    <a class="level-item">
                                        <span class="icon is-small">
                                            <i class="fas fa-retweet"></i>
                                        </span>
                                    </a>
                                    <a class="level-item">
                                        <span class="icon is-small">
                                            <i class="fas fa-heart"></i>
                                        </span>
                                    </a>
                                </div>
                            </nav>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
</template>
