<template>
    <section class="section">
        <div class="container">zakazky</div>
    </section>
</template>


<script>
import messages from "@/assets/data/documents.json";

export default {
    data() {
        return {
            json: messages
        };
    }
};
</script>
