<template>
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <a target="_blank" href="http://www.techart.cz/uvodni-stranka">
                    <img src="@/assets/techArtLogo_color.png" alt="logo" class="logo">
                    <i class="fas fa-external-link-alt"></i>
                </a>.
            </p>
        </div>
    </footer>
</template>

<script>
export default {};
</script>


<style lang="scss" scoped>
.footer {
    background: rgb(255, 255, 255) !important;
    clear: both;
    position: relative;

    i {
        font-size: 9px;
        position: relative;
        bottom: 18px;
    }

    .logo {
        height: 1.6rem;
        position: relative;
        top: 0.37rem;
        margin-right: 0.42rem;
    }
}
</style>
