<template>
    <div id="TheMenu">
        <router-link tag="a" to="/active-jobs">
            <img src="@/assets/techArtLogo.png" alt="Logo" class="menu__logo">
        </router-link>

        <aside class="menu">
            <p class="menu-label">Administrace</p>
            <ul class="menu-list">
                <li>
                    <router-link tag="a" to="/prehled">
                        <i class="fas fa-address-card menu-icon fa-fw"></i>
                        Přehled
                    </router-link>
                </li>
                <li>
                    <router-link tag="a" to="/doklady">
                        <i class="fas fa-file-alt menu-icon fa-fw"></i>
                        Doklady
                    </router-link>
                </li>
                <li>
                    <router-link tag="a" to="/firmy">
                        <i class="fas fa-building menu-icon fa-fw"></i>
                        Firmy
                    </router-link>
                </li>
                <li>
                    <router-link tag="a" to="/kontakty">
                        <i class="fas fa-users menu-icon fa-fw"></i>
                        Kontakty
                    </router-link>
                </li>
                <!-- <li>
                    <router-link tag="a" to="/zakazky">
                        <i class="fas fa-suitcase menu-icon fa-fw"></i>
                        Zakázky
                    </router-link>
                </li>-->
            </ul>
            <p class="menu-label">Nastavení</p>
            <ul class="menu-list">
                <li>
                    <router-link tag="a" to="/ucet">
                        <i class="fas fa-user-cog menu-icon fa-fw"></i>
                        Uživatelský účet
                    </router-link>
                </li>
                <li>
                    <router-link tag="a" to="/nastaveni">
                        <i class="fas fa-cog menu-icon fa-fw"></i>
                        Nastavení
                    </router-link>
                </li>
                <li>
                    <a @click="logout()" class="logout">
                        <i class="fas fa-sign-out-alt menu-icon fa-fw"></i>
                        <span class="logout__text">Odhlásit</span>
                    </a>
                </li>
            </ul>
        </aside>
    </div>
</template>


<script>
export default {
    methods: {
        logout() {
            this.$store.dispatch("user/loginUser", false);
            this.$router.push("/");
        }
    }
};
</script>


<style lang="scss" scoped>
$color-active: #ffeb7c;
$color-black: black;
$color-white: white;

#TheMenu {
    z-index: -3;
}

@media (min-width: 769px) {
    #TheMenu {
        position: fixed;
        max-width: 290px;
    }
}

.menu {
    //   background: #282a2b;
    background: inherit;
    text-align: left;
    padding: 2rem;
    color: white;

    &__logo {
        width: 60%;
        margin-top: 3rem;
    }

    &-label {
        color: $color-active;
    }

    &-list a {
        transition: all 0.2s;
        color: #dedede;
        white-space: nowrap;

        &:hover {
            background-color: #353535;
            color: $color-white;
        }

        &.router-link-exact-active {
            background: $color-active;
            color: $color-black;
        }
    }

    &-icon {
        margin-right: 1.2rem;
    }
}
</style>
