<template>
  <!-- NAVBAR FOR NOT LOGGED USER -->
  <nav
    :class="{
      navbar: true,
      'is-dark': true,
      'has-text-weight-bold': true,
      'is-fixed-top': true
    }"
    role="navigation"
    aria-label="dropdown navigation"
  >
    <div class="container">
      <!-- LOGO -->
      <div class="navbar-brand">
        <div>
          <a class="navbar-item">
            <router-link
              to="/"
              tag="a"
              class="title is-3 has-text-white"
              id="logo"
            >
              <img src="@/assets/techArtLogo.png" alt="Logo" />
            </router-link>
          </a>
        </div>

        <!-- menu hamburger -->
        <span
          id="mainBurger"
          class="navbar-burger burger"
          data-target="mainMenu"
          @click="toggleMobileMenu()"
        >
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>

      <div
        class="navbar-menu navbar-end is-hidden-touch"
        id="mainMenu"
        @click="toggleMobileMenu()"
      >
        <router-link to="/" tag="a" class="navbar-item">Domů</router-link>
        <router-link to="/login" tag="a" class="navbar-item">Přihlásit</router-link>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  data() {
    return {};
  },
  methods: {
    toggleMobileMenu() {
      const menu = document.getElementById("mainMenu");
      const burger = document.getElementById("mainBurger");

      menu.classList.toggle("is-active");
      menu.classList.toggle("is-hidden-touch");
      burger.classList.toggle("is-active");
    }
  }
};
</script>

<style lang="scss" scoped>
.navbar {
  &.is-dark {
    background: #000000b2;
    font-family: "Maven Pro", sans-serif;

    #logo {
      font-weight: 100;
      position: relative;
      top: .3rem;
    }

    .navbar-item {
      font-weight: 400;
    }

    @media (min-width: 1088px) {
      .router-link-exact-active:not(#logo) {
        background: #2c2c2c9d;
      }
    }
  }
}
</style>
