<template>
    <!-- Status bar FOR LOGGED-IN USER -->
    <nav class="level">
        <!-- Left side -->
        <div class="level-left">
            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li>
                        <a href="/">CMS</a>
                    </li>
                    <li>
                        <a :href="'#/'+$route.name">{{$route.name}}</a>
                    </li>
                </ul>
            </nav>
        </div>

        <!-- Right side -->
        <div class="level-right">
            <p class="level-item">
                <a @click="logout()" class="logout">
                    <span class="logout__text">odhlásit</span>
                    <i class="fas fa-sign-out-alt logout__icon"></i>
                </a>
            </p>
        </div>
    </nav>
</template>

<script>
export default {
    methods: {
        logout() {
            this.$router.push("/");
            this.$store.state.user.isLogged = false;
        }
    }
};
</script>

<style lang="scss" scoped>
.level {
    background: transparent;
    position: block;
    width: 100%;
    z-index: 999;

    @media (min-width: 769px) {
        color: black !important;
        // position: fixed;
        top: 0;
        right: 0;
    }

    @media (max-width: 768px) {
        display: none;
    }

    &-right {
        margin-right: 1rem;
    }

    &-left {
        margin-left: 1rem;
    }

    &-item {
        a {
            padding: 12px;
            color: rgb(0, 0, 0);
            @media (max-width: 768px) {
                color: rgb(75, 75, 75);
            }
        }
    }

    &:not(:last-child) {
        margin-bottom: 0;
    }
}

.logout {
    &__text {
        padding-right: 0.3rem;
    }

    &__icon {
        position: relative;
        top: 1px;
        left: 6px;
    }
}
</style>
