<template>
    <div id="app">
        <div class="columns is-gapless">
            <!-- MENU NA LEVE STRANE - viditelne pouze po prihlaseni -->
            <transition name="fade" mode="in-out">
                <div class="column is-2-desktop is-4-tablet" v-if="isLogged" id="menu">
                    <the-menu></the-menu>
                </div>
            </transition>

            <!-- Content -->
            <div class="column" id="contentColumn">
                <the-navbar v-if="!$store.state.user.isLogged"></the-navbar>
                <the-statusbar v-if="$store.state.user.isLogged"></the-statusbar>

                <transition name="fade" mode="out-in">
                    <router-view id="site-view"/>
                </transition>

                <the-footer></the-footer>
            </div>
        </div>
    </div>
</template>

<script>
import TheNavbar from "@/components/TheNavbar";
import TheStatusbar from "@/components/TheStatusbar";
import TheMenu from "@/components/TheMenu";
import TheFooter from "@/components/TheFooter";
import { mapState } from "vuex";

export default {
    computed: {
        ...mapState({
            isLogged: state => state.user.isLogged
        })
    },
    components: {
        TheNavbar,
        TheStatusbar,
        TheMenu,
        TheFooter
    }
};
</script>

<style lang="scss">
@import url("https://fonts.googleapis.com/css?family=Maven+Pro");

// nprogress color
$nprogress-color: #23d160;
#nprogress {
    & .bar {
        background: $nprogress-color;
    }

    & .peg {
        box-shadow: 0 0 10px $nprogress-color, 0 0 5px $nprogress-color;
    }

    & .spinner-icon {
        border-top-color: $nprogress-color;
        border-left-color: $nprogress-color;
    }
}
// nprogress end

* {
    font-family: "Maven Pro", sans-serif;
}

#menu {
    background: #282a2b;
    min-width: 280px;
    z-index: 0;
}

#contentColumn {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#app {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: #fff;
}

#site-view {
    flex: 1;
}

// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #00376b;
$primary-invert: findColorInvert($primary);
$twitter: #4099ff;
$twitter-invert: findColorInvert($twitter);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "white": (
        $white,
        $black
    ),
    "black": (
        $black,
        $white
    ),
    "light": (
        $light,
        $light-invert
    ),
    "dark": (
        $dark,
        $dark-invert
    ),
    "primary": (
        $primary,
        $primary-invert
    ),
    "info": (
        $info,
        $info-invert
    ),
    "success": (
        $success,
        $success-invert
    ),
    "warning": (
        $warning,
        $warning-invert
    ),
    "danger": (
        $danger,
        $danger-invert
    ),
    "twitter": (
        $twitter,
        $twitter-invert
    )
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
</style>
